npm-debug.log
node_modules
.project
.vscode
.history
.DS_Store
\.settings/
build/env.js
dist/
.idea/
.idea/**
*.iml
element-lib/
yarn.lock
yarn-error.log
src/router/router-dev.js
package-lock.json
element/**
iview/**

/src/router/router-module-dev.js
/module-app
/module-business-code
/module-common
/module-wms
